.md-input-container{
  max-height: 0.48rem;
}
.md-table-head.md-numeric {
    color:rgba(81,162,81,.91);
}

.md-table-cell-container{
  white-space: nowrap;
}
.md-table .md-table-cell{
  height: .4rem
}
.md-table-row{
  height: 5px;
}
.md-tr-color{
  background-color: #e0e0e0;
}

.md-input-required label{
  color:rgba(179, 1, 19, 0.81);
}

.md-layout{margin:5px 0;}