//avatar
$avatar-size: .4rem !default;
$avatar-large-size: .64rem !default;
$avatar-large-icon: .4rem !default;

//button
$button-width: .88rem !default;
$button-height: .36rem !default;
$button-radius: .02rem !default;
$button-fab-size: .56rem !default;
$button-fab-size-mini: .4rem !default;
$button-fab-space: .24rem !default;
$button-dense-height: .32rem !default;
$button-icon-size: .4rem !default;

//md-button-toggle
$button-toggle-radius: 0.02rem !default;

//card
$card-radius: 0.02rem !default;

//icon
$icon-size: .24rem !default;

//image
$image-transition-duration: 2.2s !default;

//input
$input-size: .32rem !default;

//md-input-value
$md-input-value-height: .32rem !default;
$md-input-value-radius:.50rem !default;
$md-input-value-icon-size: .24rem !default;
$md-input-value-icon-font: .18rem !default;

//md-input-ref


//menu
$menu-base-width: .95rem !default;

//radio
$radio-size: .20rem !default;
$radio-ripple-size: .48rem !default;

//select
$select-height: .32rem !default;

//checkbox
$checkbox-size: .2rem !default;
$checkbox-touch-size: .48rem !default;

//snackbar
$snackbar-height: .48rem !default;
$snackbar-padding: .14rem !default;
$snackbar-space: $snackbar-height / 2 !default;

//switch
$switch-width: .34rem !default;
$switch-height: .14rem !default;
$switch-thumb-size: .20rem !default;
$switch-ripple-size: .48rem !default;


//tab
$tab-width: .72rem !default;
$tab-max-width: 2.64rem !default;

//tooltip
$tooltip-height: .20rem !default;

//chip
$chip-height: .32rem !default;
$chip-icon-size: .24rem !default;
$chip-icon-font: $chip-icon-size - 0.04rem !default;

