.md-content{
    position: relative;
    overflow: auto;
    padding: 0 .16rem;

    >.md-subheader{
      padding: 0;
      font-size: .16rem;
      border-bottom: 0.01rem solid #f1f1f1;
      margin-top: .16rem;
      line-height:.2rem;
      min-height: .2rem;
      font-weight: 600;
      >span{
        padding: 0 .05rem;
        background: #f1f1f1;
        font-weight: 500;
        font-size: .14rem;
        letter-spacing: .03rem;
        line-height: .28rem;
      }
    }
    .md-layout+.md-layout>.md-input-container{
      //margin-left: 0.16rem;
    }
    &.padding{
      padding: .16rem;
    }
}
@include layout-xxsmall {
  .md-content{
    padding: 0 0.08rem;
  }
}