.md-refs-dialog{
  .md-dialog-actions{
    border-top: 0.01rem solid #e0e0e0;
    .md-table-pagination{
      border-top:none;
    }
  }
  .md-dialog{
      min-width: 50%;
      height: 70%;
  }
  .md-dialog-content{
    background-attachment: inherit;
  }
  .md-dialog-actions:before{
    display: none;
  }
  .md-table-pagination .md-select{
    margin: 0 .1rem;
  }
  .md-table-pagination .md-button{
    min-width: .3rem;
  }
}
@include layout-small{
  .md-refs-dialog .md-dialog{
      max-height: 100%;
      max-width: 100%;
      width: 100%;
      height: 100%;
  }
}
